<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.learn2develop.myuitest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23" />
    
    <!-- 访问网络必须要添加的权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        

        <!-- 所有的测试项列在这个页面 -->
		<activity
            android:name="net.learn2develop.myuitest.TestPageActivity"
            android:label="@string/app_name" 
            android:launchMode="singleInstance"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>        

		<!-- 测试自动补全控件 AutoCompleteTextView，它是 EditText 的子类 -->
        <activity
            android:name="net.learn2develop.myuitest.AutoCompleteTextViewTestActivity"
            android:label="@string/app_name" 
            android:launchMode="singleInstance"
            >
            <intent-filter>
                <action android:name="net.learn2develop.myuitest.AutoCompleteTextViewTestActivity" />

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        
        <!-- 测试ImageView控件的使用 -->
        <activity 
            android:name="net.learn2develop.myuitest.ImageTestActivity"
            android:label="@string/test_image"
            android:launchMode="singleInstance"
            >
            
            <intent-filter >
                <action android:name="net.learn2develop.myuitest.ImageTestActivity"/>
                
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            
        </activity>

        
        <!-- 测试ListView基本用法 -->
		<activity 
            android:name="net.learn2develop.myuitest.ListViewTestActivity"
            android:label="@string/test_listview"
            android:launchMode="singleInstance"
            >
            
            <intent-filter >
                <action android:name="net.learn2develop.myuitest.ListViewTestActivity"/>
                
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            
        </activity>
        
		<!-- 测试 SimpleAdapter -->
		<activity 
            android:name="net.learn2develop.myuitest.SimpleAdapterTestActivity"
            android:label="@string/test_simpleadapter"
            android:launchMode="singleInstance"
            >
            
            <intent-filter >
                <action android:name="net.learn2develop.myuitest.SimpleAdapterTestActivity"/>
                
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            
        </activity>		

		<!-- Gallery 测试 -->
		<activity 
            android:name="net.learn2develop.myuitest.GalleryTestActivity"
            android:label="@string/test_simpleadapter"
            android:launchMode="singleInstance"
            >
            
            <intent-filter >
                <action android:name="net.learn2develop.myuitest.GalleryTestActivity"/>
                
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            
        </activity>			
		
		<activity 
            android:name="com.lintex9527.network.AsyncTaskTestActivity"
            android:label="@string/test_asynctask"
            android:launchMode="singleInstance"
            >
            
            <intent-filter >
                <action android:name="com.lintex9527.network.AsyncTaskTestActivity"/>
                
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            
        </activity>			
		
		
    </application>

</manifest>
